::-webkit-scrollbar {
  width: 14px;
}

/* Track */ 
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey; */ 
  border-radius:14px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 14px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
  cursor: pointer;
}

::-webkit-resizer
{
	background-color: white;
	border-radius: 5px;
}

/* CLASSES */
.resultImage
{
	height: 500px;
	
	/*
	outline: 1px solid;
	outline-offset: -9px;
	*/
	/*
	border-left: 10px solid;
	border-right: 10px solid;
	*/
	border-top: 10px solid;
	border-bottom: 10px solid;
	border-radius: 10px;
	margin: 10px;
}

.arrow
{
	font-size: 40px;
	color: #82D5EA;
	transform: translateY(-5%);
	cursor: pointer;
	margin-left: 20px;
	
	&:hover
	{
		color: #15BFEA;
		font-size: 50px;
	}

}

.blockRow
{
	align-items: center;
	margin: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 7px 40px 7px 40px;
	padding: 10px;
	background-color: white;
}

.description
{
	align-items: normal;
}

.baseBlock
{
	font-size: 20px;
	border-radius: 7px 25px 7px 25px;
	cursor: pointer;
	margin: 5px;
	padding: 15px;
	padding-left: 20px;
	padding-right: 30px;
	color: white;
	font-size: 17px;
	&.summery
	{
		background-color: #409CB5;
		&:hover
		{
			background-color: #86DBEF;
			color: #684B33;
		}
	}
}

.filter /* for .select */
{
	background-color: #2BAF60;
	&:hover
	{
		background-color: #8AED97;
	}
	&:focus
	{
		background-color: #8AED97;
		color: #684B33;	
	}
}

.horizontalLine
{
	border: 5px solid white;
	flex: 1;
	border-radius: 5px;
}

.brightHover
{
	&:hover
	{
		filter: brightness(1.2);
	}
}

.circle
{
	border: 5px solid white;
	background-color: white;
	border-radius: 10px;
	height: 20px;
	width: 20px;
	margin: 40px;
}

.imageDescription
{
	position: absolute;
	font-size: 15px;
	border-radius: 20px;
	padding: 20px;
	color: white;
	max-width: 450px;
	user-select: none;
	opacity: 0;
	display: none;
}

.fullWindowImageNavigationArrow
{
	font-size: 50px;
	font-weight: bold;
	color: white;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
}

/* IDs */
#searchSection
{
	background-color: white; /* #9FF1FF; /* #093C48 */
	border-radius: 20px;
	margin: 30px;
	padding: 10px;
	display: flex;
	flex-wrap: 	wrap;
	position: relative;
	z-index: 2;
}

#textareaNameSearch
{
	color: white;
	background-color: #409CB5; /*#45B6DD; /* #66547F; */
	font-family: 'Gaegu';
	font-size: 25px;
	font-weight: bold;
	height: 50px;
	width: 350px;
	border-radius: 40px;
	margin: 10px;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	
	&:hover
	{
		background-color: #8FE2FF;
	}
	&:focus
	{
		background-color:#8FE2FF;
		color: #684B33;
	}
	&.textareaWithinSearch
	{
		background-color: orange;
		&:hover
		{
			background-color: white;
			color: #684B33;
		}
		&:focus
		{
			background-color: white;
		}
	}
}

#howToText
{
	color: #684B33;
	margin: 10px;
	text-align: justify;
	width: 600px;
	font-weight: 500;
}

#svg2
{
	z-index: 3;
	position: absolute;
	left: 95%;
	top: 50%;
	opacity: 0;
}

/* FULL WINDOW MODE, WHICH DOESN'T EXIST IN MOBILE */

#fullWindow
{
	background-color: rgba(0,25,50,0.8);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	display: none;
	z-index: 1;
}

#fullWindowImage
{
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	z-index: 2;
}

#escape
{
	position : absolute;
	left : 95%;
	top : 5%;
	color : white;
	font-size : 40px;
	font-family: 'Arial';
	transform : translate(-50%,-50%);
	text-align: center;
	z-index: 3;
	
	&:hover
	{
		/*font-weight: bold;*/
		color: orange;
		font-size: 50px;
		cursor: pointer;
	}
}

#escapeBorder
{
	position : absolute;
	/*left : 95%;*/
	top : 5%;
	width: 45px;
	height: 45px;
	border: 2px solid white;
	border-radius: 100px;
	transform : translate(-50%,-50%);
}