::-webkit-scrollbar {
  display: none;
}

/* CLASSES */
.resultImage
{
	height: 200px;
	/*
	outline: 3px solid;
	outline-offset: -4px;
	*/
	border-top: 10px;
	border-bottom: 10px;
	border-radius: 10px;
	margin: 5px;
}

.arrow
{
	font-size: 60px;
	color: #82D5EA;
	transform: translateY(-5%);
	cursor: pointer;
	margin-left: 20px;
}

.blockRow
{
	min-width: 100%;
	align-items: center;
	border-radius: 7px 40px 7px 40px;
	padding: 10px;
	background-color: white;
	margin-bottom: 7px;
	margin-top: 7px;
}

.description
{
	align-items: stretch;	
}

.horizontalLine
{
	border: 5px solid white;
	flex: 1;
	border-radius: 10px;
}

.mobileFullWidthImageDiv
{
	margin: 10px;
	/*width: 100%;*/
}

.mobileFullWidthImage
{
	object-fit: cover;
	/*
	outline: 5px solid;
	outline-offset: -6px;
	border: 5px solid;
	outline-color: black;
	border-color: black;
	*/
	border-radius: 7px 40px 7px 40px;
}

.mobileDataHelp
{
	background-color: #2BAF60;
	width: 100%;
	color: white;
	padding: 20px;
	font-size: 22px;
	border-radius: 15px;
	display: none;
}

/* IDs */
#searchSection
{
	width: 100%;
	background-color: white; /* #9FF1FF; /* #093C48 */
	border-radius: 40px;
	padding: 10px;
	display: flex;
	flex-wrap: 	wrap;
	position: relative;
	z-index: 2;
}

#textareaNameSearch
{
	color: white;
	background-color: #409CB5; /*#45B6DD; /* #66547F; */
	font-family: 'Gaegu';
	font-size: 25px;
	font-weight: bold;
	height: 50px;
	width: 100%;
	border-radius: 40px;
	margin: 10px;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	
	&:focus
	{
		background-color:#8FE2FF;
		color: #684B33;
	}
	&.textareaWithinSearch
	{
		background-color: orange;
		&:focus
		{
			background-color: white;
		}
	}
}

#howToText
{
	color: #684B33;
	margin: 10px;
	text-align: justify;
	font-weight: 500;
	font-size: 20px;
}

#svg2
{
	z-index: 3;
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
}

/* MOBILE ADJUSTMENT */
#fullWindow{display: none}
#fullWindowImage{display: none}
.fullWindowImageNavigationArrow{display: none}
#escape{display: none}